.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
}

.Success {
    color: #5C9210;
    border: #5C9210 1px solid;
}

.Danger {
    color: #944317;
    border: #944317 1px solid;
    
}

.Button:disabled {
    color: #ccc;
    border: #944317 1px solid;
    cursor: not-allowed;
}